@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --BaseColor1: #4E434F;
  --BaseColor2: #2B353E;
  --DetailColor: #6FBAC3;
  --TextColor: #ECECEC;
  --flex-wrap-mobile: wrap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  ul, ol {
    list-style: revert;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(180deg, var(--BaseColor1) 30%, var(--BaseColor2) 70%);
  color: var(--TextColor);
}

h1 {
  font-size: 2.5rem;
}

button {
  background-color: var(--DetailColor);
  color: var(--BaseColor2);
  width: 80px;
  height: 40px;
  border-radius: 3px;
}

button:hover {
  transition: 0.4s;
  color: var(--TextColor);
}

@utility flex-between {
  @apply flex flex-row bg-(--DetailColor)
}

@utility container {
  @apply flex flex-row items-stretch gap-[10px] gap-y-[10px] gap-x-[10px] h-full flex-1 self-stretch mx-auto
}

@utility test {
  @media (min-width: 768px){
    max-width: min(100%, 1200px)
}
}

@utility test1 {
  @media (min-width: 768px){
    width: 65%
}
}

@utility mobiletest {
  @media (max-width: 767px){
        width: 100%;
        flex-wrap: var(--flex-wrap-mobile);
    }
}

@utility containercenter{
  @apply flex-row items-stretch grow shrink basis-auto gap-[10px] gap-y-[10px] h-full mx-auto max-w-[1200px] px-0 w-full
}

@utility imageAcordian{
  @apply grow shrink basis-[0%] relative bg-cover bg-center bg-no-repeat transition-all duration-300 ease-in-out
}

