@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --BaseColor1: #4E434F;
  --BaseColor2: #2B353E;
  --DetailColor: #6FBAC3;
  --TextColor: #ECECEC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  ul, ol {
    list-style: revert;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(180deg, var(--BaseColor1) 30%, var(--BaseColor2) 70%);
  color: var(--TextColor);
}

h1 {
  font-size: 2.5rem;
}

button {
  background-color: #6FBAC3;
  width: 80px;
  height: 40px;
  border-radius: 3px;
}
