@import "tailwindcss";

:root {
  --col1: #2B353E;
  --col2: #4E434F;
  --col3: #6FBAC3;
  --col4: #ECECEC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(180deg, var(--col2) 30%, var(--col1) 70%);
  color: var(--col4);
  font-family: Arial, Helvetica, sans-serif;
}
